In [2]:
import pandas as pd

In [3]:
from pandas import ExcelWriter
from pandas import ExcelFile

In [4]:
cargar=open("Nota.txt")

In [5]:
print(cargar.read())

No hay clase el próximo lunes

In [19]:
cargar.close()

In [23]:
escribir=open("Nota.txt",mode="w")
escribir.write("No hay clase el próximo lunes")

29

In [29]:
nuevo=open("nuevo.txt",mode="x")

FileExistsError: [Errno 17] File exists: 'nuevo.txt'

In [33]:
nuevo=open("nuevo.txt",mode="r+")
nuevo.write("El examen es en 3 semanas")
nuevo.write("Entregan avance en 3 semanas")
nuevo.close()

In [6]:
tabla=pd.read_excel("Base salarios.xls",sheet_name="Base de datos")

In [81]:
tabla.head(2)
pd.DatetimeIndex(tabla['Fch comienzo'][0])

ValueError: DatetimeIndex() must be called with a collection of some kind, Timestamp('1982-04-05 00:00:00') was passed

In [7]:
tabla.head(10)

,ID empleado,Apellido,Nombre,Seccional,Facultad,Cargo,Salario,Fch comienzo,Fch nacimiento
0,1968,Burgos,Jeronimo,Palmira,Administración,Administrativo,3200000,1982-04-05,1951-09-28
1,1674,Villegas,Estefania,Palmira,Administración,Docente,3200000,1992-03-25,1964-01-17
2,1516,Fernandez,Guillermo,Palmira,Administración,Docente,4500000,1985-03-06,1963-06-26
3,1330,Ramirez,Eliana,Palmira,Administración,Docente,3200000,1989-02-14,1964-05-17
4,1657,Carmona,Jose,Palmira,Administración,Docente,3200000,1987-12-06,1963-10-10
5,1573,De santis,Marcela,Palmira,Administración,Aux. Administrativo,1500000,1988-07-07,1960-05-31
6,1658,Franco,Daniela,Palmira,Administración,Docente,3200000,1988-06-06,1963-10-14
7,1078,Cortes,Rafael,Palmira,Diseño,Administrativo,4200000,1986-04-01,1962-11-21
8,1695,Berrio,Camilo,Palmira,Diseño,Docente,3200000,1984-10-20,1960-01-05
9,1285,Arias,Francisco,Palmira,Diseño,Docente,3200000,1984-12-27,1962-12-22

In [83]:
tabla['Cargo'][0]

'Administrativo'

In [15]:
cargo=[]
nombres=[]
for i in tabla['Cargo']:
    cargo.append(i)
for i in range(len(cargo)):
    if cargo[i] == "Docente":
        nombres.append(tabla['Nombre'][i]+" "+tabla['Apellido'][i])

In [16]:
print(nombres)

['Estefania Villegas', 'Guillermo Fernandez', 'Eliana Ramirez', 'Jose Carmona', 'Daniela Franco', 'Camilo Berrio', 'Francisco Arias', 'Antonio Merizalde', 'David Lemus', 'Virginia Saldarriaga', 'Sergio Posada', 'Jorge Zea ', 'Mariana Diaz ', 'Brenda Aguirre', 'Gloria Tamayo', 'Andrea Carmona ', 'Lucero Diaz ', 'Daniel Ospina', 'Alberto Peláez', 'Elena Perez', 'Sebastian Carmona', 'Oscar Cifuentes', 'Santiago Jaramillo', 'Luis Melano', 'Tammy Mendez', 'Luisa Sierra', 'Sara Vallejo', 'Alexandra Guerrero', 'Lisa Guerra', 'Ana Maria Rodríguez ', 'Sofia Marulanda', 'Paula Palacio', 'Jesus Bermudez', 'Luisa Granda', 'Amalia Vergara', 'Julian Duque', 'Maritza Muñoz', 'Andrés Peláez', 'Miguel Sanchez', 'Carolina Cano', 'Jessica Marquez', 'Samuel Rico', 'Gustavo Mendez', 'Julieth Osorio', 'Lina Villamizar', 'Amalia Gutierrez', 'Raquel Medina', 'Gonzalo Betancur', 'Hilda Rodriguez', 'Victoria Hincapie', 'Pablo Rojas ', 'Stepania Zapata', 'Manuel Toro', 'Barbara Henao', 'Leonardo Vasquez', 'Juliana Castrillón', 'Elisa Mota', 'Carlos Posada', 'Mauricio Arango', 'Adriana Hoyos', 'Cathy Higuita', 'Catalina Osorio', 'Mariana Gomez']